{% extends "base.html" %}
{% load static %}

     {% block nav_actions %}
{%if user.is_authenticated %}
        <header class="header--form-page">
         <nav class="container container--70">
           <ul class="nav--actions">
             <li class="logged-user">
              Witaj {{ user.name }}
                <ul class="dropdown">
                  <li><a href="{% url 'user-profile' %}">Profil</a></li>
                  <li><a href="{% url 'update-user-profile' %}">Ustawienia</a></li>
                    {%if user.is_superuser %}
                  <li><a href="../admin/">Panel administracyjny</a></li>
                    {% endif %}
                  <li><a href="{% url 'logout' %}">Wyloguj</a></li>
                </ul>
              </li>
            </ul>
      {% else %}
   <header class="header--main-page">
      <nav class="container container--70">
        <ul class="nav--actions">
          <li><a href="{% url 'login' %}" class="btn btn--small btn--without-border">Zaloguj</a></li>
          <li><a href="{% url 'register' %}" class="btn btn--small btn--highlighted">Załóż konto</a></li>
        </ul>
        {% endif %}
        {% endblock %}

      {% block main_page %}
      <div class="slogan container container--90">
        <div class="slogan--item">
          <h1>
            Zacznij pomagać!<br />
            Oddaj niechciane rzeczy w zaufane ręce
          </h1>
        </div>
      </div>
      {% endblock %}

{% block content %}

    <section id="stats" class="stats">
      <div class="container container--85">
        <div class="stats--item">
          <em> {{donation_number}}</em>
          <h3>Oddanych worków</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius est beatae, quod accusamus illum tempora!</p>
        </div>

        <div class="stats--item">
          <em> {{ institution_qty }}</em>
          <h3>Wspartych organizacji</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam magnam, sint nihil cupiditate quas quam.</p>
        </div>

      </div>
    </section>

    <section id="steps" class="steps">
      <h2>Wystarczą 4 proste kroki</h2>

      <div class="steps--container">
        <div class="steps--item">
          <span class="icon icon--hands"></span>
          <h3>Wybierz rzeczy</h3>
          <p>ubrania, zabawki, sprzęt i inne</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--arrow"></span>
          <h3>Spakuj je</h3>
          <p>skorzystaj z worków na śmieci</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--glasses"></span>
          <h3>Zdecyduj komu chcesz pomóc</h3>
          <p>wybierz zaufane miejsce</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--courier"></span>
          <h3>Zamów kuriera</h3>
          <p>kurier przyjedzie w dogodnym terminie</p>
        </div>
      </div>

      <a href="{% url 'register' %}" class="btn btn--large">Załóż konto</a>
    </section>

    <section id="about-us" class="about-us">
      <div class="about-us--text">
        <h2>O nas</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas vitae animi rem pariatur incidunt libero optio esse quisquam illo omnis.</p>
        <img src="{% static "images/signature.svg" %}" class="about-us--text-signature" alt="Signature" />
      </div>
      <div class="about-us--image"><img src="{% static "images/about-us.jpg" %}" alt="People in circle" /></div>
    </section>

     <section id="help" class="help">
      <h2>Komu pomagamy?</h2>

      <ul class="help--buttons">
        <li data-id="1"><a href="#" class="btn btn--without-border active">Fundacjom</a></li>
        <li data-id="2"><a href="#" class="btn btn--without-border">Organizacjom pozarządowym</a></li>
        <li data-id="3"><a href="#" class="btn btn--without-border">Lokalnym zbiórkom</a></li>
      </ul>

      <!-- SLIDE 1 -->
      <div class="help--slides active" data-id="1">
        <p>W naszej bazie znajdziesz listę zweryfikowanych Fundacji, z którymi współpracujemy. Możesz sprawdzić czym się zajmują, komu pomagają i czego potrzebują.</p>

        <ul class="help--slides-items">
          {% for institution in foundations %}
          <li>
            <div class="col">
              <div class="title"> {{ institution.name }} </div>
              <div class="subtitle">Cel i misja: {{ institution.description }} </div>
            </div>

            <div class="col">
              <div class="text">
              {% for i in institution.categories.all %}
              {{ i }} {% if not forloop.last %}, {% endif %}
              {% endfor %}
              </div>
            </div>
          </li>
          {% endfor %}

        <ul class="help--slides-pagination">

          {% if foundations.has_other_pages %}
              <ul class="pagination">
            {% if foundations.has_previous %}
             <li><a href="?page={{ foundations.previous_page_number }}#help" class="btn btn--small btn--without-border">&laquo;</a></li>
                {% else %}
            <li class="disabled"><span></span></li>
            {% endif %}
            {% for i in foundations.paginator.page_range %}
              {% if foundations.number == i %}
              <li class="active"><span class="btn btn--small btn--without-border">{{ i }} </span></li>
              {% else %}
              <li><a href="?page={{ i }}#help" class="btn btn--small btn--without-border">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if foundations.has_next %}
            <li><a href="?page={{ foundations.next_page_number }}#help" class="btn btn--small btn--without-border">&raquo;</a></li>
            {% else %}
            <li class="disabled"><span></span></li>
            {% endif %}
            </ul>
          {% endif %}

        </ul>

      </div>


      <!-- SLIDE 2 -->
      <div class="help--slides" data-id="2">
        <p>
          W naszej bazie znajdziesz listę zweryfikowanych organizacji pozarządowych, z którymi współpracujemy. Możesz sprawdzić czym się zajmują, komu pomagają i czego potrzebują.
        </p>
        <ul class="help--slides-items">
          {% for institution in ngos %}
          <li>
            <div class="col">
              <div class="title">{{ institution.name }}</div>
              <div class="subtitle">{{ institution.description }}</div>
            </div>

            <div class="col">
              <div class="text">
              {% for i in institution.categories.all %}
              {{ i }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
              </div>
            </div>
          </li>
          {% endfor %}

        </ul>


        <ul class="help--slides-pagination">
          {% if ngos.has_other_pages %}
              <ul class="pagination">
            {% if ngos.has_previous %}
             <li><a href="?page={{ ngos.previous_page_number }}#help" class="btn btn--small btn--without-border">&laquo;</a></li>
                {% else %}
            <li class="disabled"><span></span></li>
            {% endif %}
            {% for i in ngos.paginator.page_range %}
              {% if ngos.number == i %}
              <li class="active"><span class="btn btn--small btn--without-border">{{ i }} </span></li>
              {% else %}
              <li><a href="?page={{ i }}#help" class="btn btn--small btn--without-border">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if ngos.has_next %}
            <li><a href="?page={{ foundations.next_page_number }}#help" class="btn btn--small btn--without-border">&raquo;</a></li>
            {% else %}
            <li class="disabled"><span></span></li>
            {% endif %}
            </ul>
          {% endif %}
        </ul>

      </div>

      <!-- SLIDE 3 -->
      <div id="locals" class="help--slides" data-id="3">
        <p>W naszej bazie znajdziesz listę zweryfikowanych zbiórek lokalnych, z którymi współpracujemy. Możesz sprawdzić czym się zajmują, komu pomagają i czego potrzebują.</p>
        <ul class="help--slides-items">
          {% for institution in locals %}
          <li>
            <div class="col">
              <div class="title">{{ institution.name }}</div>
              <div class="subtitle">{{ institution.description }}</div>
            </div>

            <div class="col">
              <div class="text">
              {% for i in institution.categories.all %}
              {{ i }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
              </div>
            </div>
          </li>
          {% endfor %}

        </ul>


        <ul class="help--slides-pagination">
          {% if locals.has_other_pages %}
              <ul class="pagination">
            {% if locals.has_previous %}
             <li><a href="?page={{ locals.previous_page_number }}#help" class="btn btn--small btn--without-border">&laquo;</a></li>
                {% else %}
            <li class="disabled"><span></span></li>
            {% endif %}
            {% for i in locals.paginator.page_range %}
              {% if locals.number == i %}
              <li class="active"><span class="btn btn--small btn--without-border">{{ i }} </span></li>
              {% else %}
              <li><a href="?page={{ i }}#help" class="btn btn--small btn--without-border">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if locals.has_next %}
            <li><a href="?page={{ locals.next_page_number }}#help" class="btn btn--small btn--without-border">&raquo;</a></li>
            {% else %}
            <li class="disabled"><span></span></li>
            {% endif %}
            </ul>
          {% endif %}
        </ul>

      </div>
    </section>


{% endblock %}




