{% extends "base.html" %}
{% load static %}


{% block content %}

    <section class="login-page">
      <h2>Załóż konto</h2>
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
             <input type="text" name="name" id="inputName" class="form-control" placeholder="Imię" required>
        </div>
         <div class="form-group">
             <input type="text" name="surname" id="inputSurname" class="form-control" placeholder="Nazwisko" required>
        </div>
        <div class="form-group">
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        </div>
        <div class="form-group">
              <input type="password" name="password1" id="inputPassword1" class="form-control" placeholder="Hasło" required>
        </div>
        <div class="form-group">
             <input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="Powtórz hasło" required>
        </div>

 {% for field in registration_form %}
      <p>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
  {% endfor %}
  {% if registration_form.non_field_errors %}
    <div style="color: red">
      <p>{{registration_form.non_field_errors}}</p>
    </div>

  {% endif %}

        <div class="form-group form-group--buttons">
          <a href="{% url 'login' %}" class="btn btn--without-border">Zaloguj się</a>
          <button class="btn" type="submit">Załóż konto</button>
        </div>
      </form>
    </section>
{% endblock %}
